<h1>Secret Admin MAKE Page</h1>

{{message}}
  <form method="post" action="/adminMake">
    
    <input type="text" name="username" placeholder="Username" />
    <br />
    
    <input type="password" name="password" placeholder="Password" />
    <br />
    
    <input type="password" name="password_confirmation" placeholder="Password Confirmation" />
    <br />
    
    <input type="text" name="nickname" placeholder="Nickname" />
    <br />
    
    <input type="secret" name="secret" placeholder="secret" />
    <br />
    
    <input id="submit" type="submit">
  
  </form>
