<h1>Secret Admin Portal</h1>
<br />

<h2>Hello, {{username}}!</h2>
<br/>


<a href="/make">make</a>
<br/>

<a href="/delete">delete</a>
<br/>

<a href="/update">update</a>
<br/>

<a href="/adminMake">adminMake</a>
<br/>
