<h6>delete.hbs</h6>

<ul></ul>

<form method="post" class="toChange">
  <input type="text" name="idToChange" id="idToChange">
  <input id="submit" type="submit">
</form>


  <script src="js/admin.js" defer="defer"></script>
