<ul></ul>

<form method="post" class="toDelete">
  <input type="text" name="idToDelete" id="idToDelete">
  <input id="submit" type="submit">
</form>


  <script src="js/admin.js" defer="defer"></script>
