<h6>make.hbs</h6>

  <div id="floatyholder" class="floatyholder "> 
    <div id="floaty">
      <h1>Hey</h1>
      <form method="post"  >
        <input type="text" id="title" name="title">
        <input type="text" id="author" name="author">     
        <textarea rows="3" cols="33" wrap="hard" id="content" name="content"></textarea>
        <input id="submit" type="submit">
      </form>
    </div>
  </div>
