<h6>make.hbs</h6>

  
      <h1>Hey</h1>
      <form method="post">
        
        <label>Title</label>
        <input type="text" id="title" name="title">

        <label>jpnTitle</label>
        <input type="text" id="jpnTitle" name="jpnTitle">
        
        <label>Author</label>
        <input type="text" id="author" name="author">     
        
        <label>Content</label>
        <textarea rows="3" cols="33" id="content" name="content"></textarea>

        <label>jpnContent</label>
        <textarea rows="3" cols="33" id="jpnContent" name="jpnContent"></textarea>

        <label>keywords</label>
        <input type="text" id="keywords" name="keywords">

        <label>Picture File Name</label>
        <input type="text" id="picFileName" name="picFileName">  
        
        <input id="submit" type="submit">
      </form>




