<h6>update.hbs</h6>
<ul></ul>

<form method="post" class="toChange">
  <input type="text" name="idToChange" id="idToChange">
  <input type="text" name="titleToChange" id="titleToChange">
  <textarea rows="3" cols="33" wrap="hard" id="contentToChange" name="contentToChange"></textarea>
  <input id="submit" type="submit">
</form>


<script src="js/admin.js" defer="defer"></script>
