<h6>update.hbs</h6>
<ul></ul>

<form method="post" class="toChange">
  <label>Id</label>
  <input type="text" name="idToChange" id="idToChange">
  <br>

  <label>Title</label>
  <input type="text" name="titleToChange" id="titleToChange">
  <br>

  <label>jpnTitle</label>
  <input type="text" name="jpnTitleToChange" id="jpnTitleToChange">
  <br>

  <label>Content</label>
  <textarea rows="3" cols="33" id="contentToChange" name="contentToChange"></textarea>
  <br>

  <label>jpnContent</label>
  <textarea rows="3" cols="33" id="jpnContentToChange" name="jpnContentToChange"></textarea>
  <br>

  <label>keywords</label>
  <input type="text" name="keywords" id="keywords">
  <br>

  <label>Picture URL</label>
  <input type="text" name="pictureURLToChange" id="pictureURLToChange">
  <br>

  <input id="submit" type="submit">
</form>


<script src="js/admin.js" defer="defer"></script>
