body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  background: linear-gradient(#f06eaa 40%, #00a99d) fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 40px;
  background: #abd6d7;
  color: teal;
  border-bottom: 3px solid #494949;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #00a99d;
}
a:visited {
  color: #00a99d;
}
.welcomeContentContainer {
  padding: 10px 12px;
}
.content,
#contentToChange {
  white-space: pre-wrap;
}
.rightMain {
  width: 38%;
  min-height: 100px;
  float: left;
  background: #f0c4d7;
  border-radius: 10px;
  color: #494949;
  margin: 3% 2% 1% 4%;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
}
.leftMain {
  float: left;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 3%;
}
.leftMain .artbox {
  background: #abd6d7;
  width: 98%;
  margin: 0% 3% 5% 4%;
  border-radius: 10px;
  color: #494949;
  text-decoration: none;
  clear: both;
  -webkit-box-shadow: -5px -5px 0px 0px #494949;
  -moz-box-shadow: -5px -5px 0px 0px #494949;
  box-shadow: -5px -5px 0px 0px #494949;
}
.leftMain .artbox img {
  width: 100%;
  position: relative;
  bottom: 20px;
  left: 15px;
  border: 3px solid #494949;
}
.leftMain .artbox .aTop {
  width: 100%;
  padding: 10px;
}
.leftMain .artbox .aLeft {
  float: left;
  width: 60%;
  padding-left: 10px;
}
.leftMain .artbox .aLeft p {
  white-space: pre-wrap;
}
.leftMain .artbox .aRight {
  float: left;
  width: 30%;
}
input,
textarea {
  display: block;
}
.toChange {
  position: fixed;
  right: 50px;
  top: 50px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
