body {
  margin:  0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  background: linear-gradient(@pink 40%, @teal) fixed;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 40px;
  background: @lightteal;
  color: teal;
  border-bottom: 3px solid @black;
}

a { 
  text-decoration: none;
  cursor: pointer;
  color: @teal;
}
a:visited {
  color: @teal;
}

.welcomeContentContainer {
  padding: 10px 12px;
}

.content, #contentToChange {
  white-space: pre-wrap;
}

.rightMain {
  width: 38%;
  min-height: 100px;
  float: left;
  background: @lightpink;
  border-radius: 10px;
  color: @black;
  margin: 3% 2% 1% 4%;

  -webkit-box-shadow: 5px 5px 0px 0px rgba(73,73,73,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(73,73,73,1);
  box-shadow: 5px 5px 0px 0px rgba(73,73,73,1);
}

.leftMain {
  float: left;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 3%; 

  .artbox {
    background: @lightteal;
    width: 98%;
    margin: 0% 3% 5% 4%;

    border-radius: 10px;
    color: @black;
    text-decoration: none;
    clear: both;

    -webkit-box-shadow: -5px -5px 0px 0px rgba(73,73,73,1);
    -moz-box-shadow: -5px -5px 0px 0px rgba(73,73,73,1);
    box-shadow: -5px -5px 0px 0px rgba(73,73,73,1);
    img {
      width: 100%;
      position: relative;
      bottom: 20px;
      left: 15px;
      border: 3px solid @black;
    }
    .aTop {
      width: 100%;
      padding: 10px;
    }
    .aLeft {
      float: left;
      width: 60%;
      padding-left: 10px;
      p {
        white-space: pre-wrap;
      }
    }
    .aRight {
      float: left;
      width: 30%;
    }
  }
}

input, textarea {
  display: block;
}

.toChange {
  position: fixed;
  right: 50px;
  top: 50px;

}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}



@media (max-width: 700px) {



}
