body {
  margin:  0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  background: linear-gradient(@pink 40%, @teal) fixed;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around
}

.content, #contentToChange {
  white-space: pre-wrap;
}

.rightMain {
  width: 40%;
  min-height: 100px;
  float: left;
  background: @lightpink;
  border-radius: 10px;
  color: @black;
}

.leftMain {
  float: left;
  display: flex;
  flex-direction: column;
  width: 60%;
  a { 
    text-decoration: none;
    cursor: pointer;
  }
  .artbox {
    background: @lightteal;
    width: 100%;
    margin: 1%;
    // display: flex;
    
    border-radius: 10px;
    color: @black;
    text-decoration: none;
    clear: both;
    img {
      width: 100%;
    }
    .aTop {
      width: 100%;
    }
    .aLeft {
      float: left;
      width: 70%;
    }
    .aRight {
      float: left;
      width: 30%;
    }
  }

}

input, textarea {
  display: block;
}

.toChange {
  position: fixed;
  right: 50px;
  top: 50px;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 700px) {



}
