
<div class="rightMain">
  <div class="welcomeContentContainer">
    <h2> Welcome! </h2>
    
    <p> Tokyo Tsukette is a blog by Ben and Kaori. We discuss living in the USA and Japan, learning English, teaching ESL, and many other topics.</p>

    <div class="circleImgContainer">
    </div>


    <h3> Keywords: </h3>
    <ul class="keywordList"></ul>

    <h3> Popular Posts: </h3>
    <ul class="popularList"></ul>
  </div>
</div>

 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


  <!-- &language=ja -->
</body>
</html>

