<!DOCTYPE html>
<html>
  <head>
    <title>Bento Bento</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
<!--     v v Change this once you figure out what font you want v v  -->    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Raleway:100|Rokkitt|Vollkorn" rel="stylesheet"> <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <header>
      <a href="/"><h1>Bento Bento</h1></a> 
    </header>
   

<!--    v v  Delete this eventually v v  
 -->
<!-- <nav class = "admin">    
  <a href="/">Home</a>
  <a href="/make">Make</a>
  <a href="/delete">Delete</a>
  <a href="/update">Update</a>
  <a href="/makeUser">MakeUser</a>
</nav> -->



