<!DOCTYPE html>
<html>
  <head>
    <title>Bento Bento <span style="color:deeppink">BETA</span></title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
<!--     v v Change this once you figure out what font you want v v  -->    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Raleway:100|Rokkitt|Vollkorn" rel="stylesheet"> <link rel="stylesheet" type="text/css" href="css/style.css">
    <script data-ad-client="ca-pub-8267532141434220" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>

    <header>
      <a href="/"><h1>Bento Bento</h1></a> 
      <a href="#" class="lang" style="display:inline-block">JPN</a>
    </header>
   
